<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../view/Help.css">
    
</head>
<body>
    <header>
        <h1>Các chứng năng của hệ thống quản lý khách sạn</h1>
    </header>
    <div id="block">
        <h2>Chức năng thanh toán</h2>
        <div class="left">
            <img src="../img/thanhtoanView.png" alt="">
        </div>
        <div class="right">
            <p>Để thực hiện chức năng thanh toán bạn cần thực hiện các bước sao</p>
            <p>Bước 1: Nhân viên khách sạn nhận thông tin là số điện thoại khách hàng</p>
            <p>Bước 2: Nhân viên nhập số điện thoại khách hàng vào ô tìm kiếm</p>
            <p>Bước 3: Nhân viên chọn hóa đơn cần thanh toán</p>
            <p>Bước 3.1: Hóa đơn sẽ tự động được chọn giá khuyến mãi cao nhất</p>
            <p>Bước 3.2: Nhân viên nhập số tiền khách hàng cần trả</p>
            <p>Bước 4: Nhân viên nhấn nút thanh toán</p>
            <p>Bước 5: Hệ thống sẽ hiển thị thông báo thanh toán thành công và hỏi nhân viên cần in hóa đơn không</p>
        </div>
    </div>
    <div id="block">
        <h2>Chức năng quản lý dịch vu</h2>
        <div class="left">
            <img src="../img/thanhtoanView.png" alt="">
        </div>
        <div class="right">
            <p>Để thực hiện chức năng thanh toán bạn cần thực hiện các bước sao</p>
            <p>Bước 1: Nhân viên khách sạn nhận thông tin là số điện thoại khách hàng</p>
            <p>Bước 2: Nhân viên nhập số điện thoại khách hàng vào ô tìm kiếm</p>
            <p>Bước 3: Nhân viên chọn hóa đơn cần thanh toán</p>
            <p>Bước 3.1: Hóa đơn sẽ tự động được chọn giá khuyến mãi cao nhất</p>
            <p>Bước 3.2: Nhân viên nhập số tiền khách hàng cần trả</p>
            <p>Bước 4: Nhân viên nhấn nút thanh toán</p>
            <p>Bước 5: Hệ thống sẽ hiển thị thông báo thanh toán thành công và hỏi nhân viên cần in hóa đơn không</p>
        </div>
    </div>
</body>
</html>